@charset "utf-8";
.banner_img{
    position: relative;
}
.banner_text{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    display: none;
}
#banner_btn{
position: absolute;
bottom: 10px;
right: 10px;
background: #fff;
color: #000;
display: none;
}
nav{
    box-shadow: 0px 2px 4px 0 #ddd;
}
.nav_inner{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_inner h2{
    font-size: 28px;
}
.nav_inner ul{
    display: flex;
}
.nav_item {
    padding: 10px 25px;
    font-size: 20px;
    color: #697278;
    cursor: pointer;
}
.nav_item:hover{
    color: #000;
}

.btn{
    background: #000;
    color: #fff;
    font-weight: bold;
    padding: 15px;
}

.sec_inner{
    padding: 100px 0;
    
}

.title{
    font-size: 23px;
    padding: 50px 0;
    max-width: 1500px;
    margin: auto;
    text-align: center;
}
.title h5{
    padding: 10px 0;
    color: #697278;
}
.brand_swip{
    max-width: 1500px;
    height: 450px;
}
.brand_slide{
    opacity: 0.5;
    text-align: center;
}
.brand_slide img{
    width: 90%;
    height: 300px;
    transition: all .7s;
    object-fit: fill;
}
.brand_slide h2{
    font-size: 20px;
    padding: 10px 0;
}
.brand_wrap  .swiper-slide-active{
    opacity: 1;
}
.brand_wrap  .swiper-slide-active img{
    width: 80%;
   height: 350px;
}
.model_swip{
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.model_item{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
}

.model_img{
    overflow: hidden;
    margin: 30px 0;
}

.model_info li{
padding: 10px 0;
display: flex;
justify-content: space-between;
height: 4em;
}
.model_info li >span:nth-child(1){
    font-weight: bold;
}
.option{
    display: grid;
    justify-items: end;
}
.model_price{
    margin-top: 20px;
    font-size: 30px;
    text-align: right;
    padding: 20px 0;
    border-top:1px solid #ddd ;
}
.model_btn{
    display: flex;
    justify-content: space-evenly;
}
.model_btn a{
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #697278;
}
.model_btn a:nth-child(1){
    background: #fff;
}
.model_btn a:nth-child(2){
    background: #000;
    color: #fff;

}
.info{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}


.swiper-pagination{
    position: static !important;
}



.inner{
    position: relative;
    overflow: hidden;
    height:800px;
}
.pop{
    background-color: rgba(0, 0, 0, .7);
        color: #fff;
        display: none;
        font-size: 1pc;
        left: 50%;
        margin: -20px 0 0 -25vw;
        padding: 10px 0;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 50vw;
        z-index: 10;
    }

.inner_btn{

    z-index: 9;
    display: flex;
    justify-content: center;
}
.inner_btn a{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #697278;
}
.inner_img1{
    z-index: 1;
    position: absolute;

}
.inner_img2{
    position: absolute;
}
.color{
    color: #000 !important;
}
.ex_p{
    text-align: right;
    color: #697278;
    font-size: 14px;
}
.bonus{
    width: 100%;
    max-width: 1500px;
    margin: auto;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-bottom:1px solid #697278;
}
th , td{
    padding: 10px 0;
    
}
th{
    background: #000;
    color: #fff;
    border-right: 1px solid #697278;
}
tbody tr td{

    color: #697278;
} 
tbody tr :nth-child(1){
    font-weight: bold;
    color: #000;
}
tbody tr :nth-child(2){
    font-weight: bold;
    color: red;
}
tbody tr :nth-child(3){

    color: #697278;
}
tbody tr :nth-child(4){

    color: #697278;
}
.bonus p{
    padding: 10px 0;
    font-size: 14px;
    color: #697278;
    text-align: right;
}

.driving{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: 500px;
}
.drive_list{

    height: calc(100% - 20px);
    display: flex;
    align-items: flex-start;
}

.drive_list_nt2n{
    display: flex;
    align-items: flex-end;
    height: 100%;

}
.drive_item2n{
    width: 100%;
    height: 300px;
}
.drive_item{
    height: 300px;
    
}
.drive_item p,.drive_item2n p{
    color: #fff;
    font-size: 20px;
    padding: 10px;
}
#d_item1{
    background: url("../img/detail/drive_img1.jpg")left /cover;

}
#d_item2{
    background: url("../img/detail/drive_img2.jpg")left /cover;
}
#d_item3{
    background: url("../img/detail/drive_img3.jpg")left /cover;
}
#d_item4{
    background: url("../img/detail/drive_img4.jpg")left /cover;
}
#d_item5{
    background: url("../img/detail/drive_img5.jpg")left /cover;
}

.access{
    width: 100%;
    max-width: 1500px;
    margin: auto;
}



@media screen and (max-width : 1024px) {
    .nav_inner h2{
        font-size: 24px;
    }
    .nav_item{
        font-size: 16px;
        padding: 10px 15px;
    }
    
    .brand_wrap  .swiper-slide-active img{
        width: 100%;
       height: 350px;
    }
    .brand_slide h2{
        font-size: 18px;
    }
    .info_left h2{
        font-size: 20px;
    }
    .info_right p{
        font-size: 14px;
    }
    .info{
        gap: 30px;
        padding: 30px 10px;
    }
    .inner{
        height: 450px;
    }
    
    .driving{
        height: 400px;
    }
    .drive_item, .drive_item2n{
        height: 200px;
    }
    .drive_item p, .drive_item2n p{
        font-size: 16px;
    }
    
}
@media screen and (max-width : 768px){
    .sec_inner{
        padding: 0;
    }
    .banner_text{
        display: block;
    }
    #banner_btn{
        display: block;
    }
    .btn{
        display: none;
    }
    .nav_inner{
        justify-content: center;
        padding: 0;
    }
    .nav_inner h2{
        display: none;
    }
    .nav_item{
        padding:10px ;
    }
    .btn{
        padding: 10px;
    }
    .brand_slide h2{
        font-size: 14px;
    }
    .title h1{
        font-size: 30px;
    }
    .inner_img1,.inner_img2{
        height: 450px;
    }
    .info{
        display: grid;
        gap: 10px;
    }
    .info_left h2{
        font-size: 18px;
    }
    .access_slide h3{
        font-size: 16px;
    }
    .sec:last-child .sec_inner{
        padding: 50px 0;
    }
}
@media screen and (max-width:550px) {
    .brand_slide h2{
        font-size: 16px;
    }
    .inner{
        overflow-x: auto;
        scrollbar-width: none;
    }
    .inner_img1,.inner_img2{
        width:  550px;
    }
}
@media screen and (max-width:480px) {
    #banner_btn{
        font-size: 12px;
    }
    nav{
        display: none;
    }
    .title h5{
        font-size: 16px;
    }
    .title h1 {
        font-size: 22px;
    }
    .brand_slide h2{
        font-size: 16px;
    }
    .drive_item, .drive_item2n {
        height: 100%;
    }
}

